<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://JAVA.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>TRABAJO_DEW</display-name> <! -- NOMBRE VISIBLE EN LA PESTAÑA SUPERIOR -->
  <welcome-file-list> <!-- LISTA DE ARCHIVOS DE BIENVENIDA QUE EL SERVIDOR BUSCA Y MUESTRA EN ORDEN -->
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <filter>
    <display-name>Autenticate</display-name>
    <filter-name>Autenticate</filter-name>
    <filter-class>Autenticate</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>Autenticate</filter-name>
    <servlet-name>LoggerAlumno</servlet-name>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>LoggerAlumno</display-name>
    <servlet-name>LoggerAlumno</servlet-name>
    <servlet-class>LoggerAlumno</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoggerAlumno</servlet-name>
    <url-pattern>/LoggerAlumno</url-pattern>
  </servlet-mapping>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>DEWAlu</web-resource-name>
      <url-pattern>/LoggerAlumno</url-pattern>
      <http-method>GET</http-method>
      <http-method>POST</http-method>
    </web-resource-collection>
    <auth-constraint>
      <role-name>rolalu</role-name>
    </auth-constraint>
  </security-constraint>
  <login-config>
    <auth-method>BASIC</auth-method>
    <realm-name>Protegido</realm-name>
  </login-config>
  <error-page>
    <error-code>401</error-code>
    <location>/index.html</location>
  </error-page>
  <servlet>
    <description></description>
    <display-name>DetailPage</display-name>
    <servlet-name>DetailPage</servlet-name>
    <servlet-class>DetailPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DetailPage</servlet-name>
    <url-pattern>/DetailPage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
</web-app>
